@keyframes bgcolor {
    0% {
        background-color: red;
    }

    16.66666666666667% {
        background-color: orange;
    }

    33.33333333333334% {
        background-color: yellow;
    }

    50.00000000000001% {
        background-color: green;
    }

    66.66666666666668% {
        background-color: blue;
    }

    83.33333333333335% {
        background-color: indigo;
    }

    100% {
        background-color: violet;
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.wrapper {
    width: 350px;
    padding: 20px;
    border: 2px solid hsl(197, 100%, 23%);
    border-radius: 10px;
    box-shadow: 2px 3px 5px gray;
    background-color: white;
    position: block;
    margin-top: 25rem;
    margin-left: auto;
    margin-right: auto;
}
