table {
    max-width: 96%;
    min-width: 96%;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.5);
}

th {
    background-color: lightgray;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    background-color: white;
}

th,
td {
    padding: 15px;
    text-align: left;
}

tr:first-child {
    background-color: #f2f2f2;
}

td a,
a:visited {
    color: hsl(197, 0%, 23%);
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Tofinish {
    background-color: #ff1eff;
    border: 2px solid #ff1eff;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
}

.Tofinish:hover {
    transition: 0.5s ease;
    background-color: white;
    color: #ff1eff;
}

.mahnen {
    background-color: #41a2a6;
    border: 2px solid #41a2a6;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
}

.mahnen:hover {
    transition: 0.5s ease;
    background-color: white;
    color: #41a2a6;
}

.finish {
    background-color: #34eb43;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.delete {
    border: 2px solid red;
    background-color: red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
}

.delete:hover {
    transition: 0.5s ease;
    background-color: white;
    color: red;
}

.edit {
    border: 2px solid #4287f5;
    background-color: #4287f5;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
}

.edit:hover {
    transition: 0.5s ease;
    background-color: white;
    color: #4287f5;
}

.hinzufuegen {
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color: black;
    margin-top: 0.5rem;
    transition: 0.5s ease;
}

.hinzufuegen:hover {
    transition: 0.5s ease;
    background-color: white;
    color: black;
}

.uebersicht {
    border: 2px solid #3283a8;
    background-color: #3283a8;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
}

.uebersicht:hover {
    transition: 0.5s ease;
    background-color: white;
    color: #3283a8;
}
